<div>
  <div class="file-input">
    <label for="{{this.name}}">{{this.label}}</label>
    <input type="file" id="{{this.name}}" name="{{this.name}}">
  </div>
  <button type="submit">Submit</button>
</div>
