<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Potato Head</title>
    <!-- CSS -->
    <link href="css/main.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
  <header>
    <a href="/potato">
      <img id="logoImage" src="imgs/logo.png" width="200px"/>
    </a>
  </header>
  {{{body}}}
</div>
</body>
</html>

<!-- Javascript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
