<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Potato Head</title>
</head>
<body>
<div id="container">
  <header>
    <a href="/potato">
      <img id="logoImage" src="imgs/logo.png" width="200px"/>
    </a>
  </header>
  {{{body}}}
</div>
</body>
</html>