#container {
  font: 13px/1.4 Helvetica, arial, sans-serif;
  color: #333;
  width: 1280px;
  margin: 0 auto;
  padding: 0px 0 30px;
  zoom: 1;
}
header {
  margin-bottom:25px;
}

#preview {
  float: left;
  width: 423px;
  height: 794px;
  background-image:url('../imgs/iphone5-template.png');
  margin:0 50px 0 70px;
  position:relative;
  top:-25px;
}
#preview_iframe {
  border:none;
  position:absolute;
  top:137px;
  left:33px;
  width:320px;
  height:540px;
}
#preview_loader {
  opacity:.75;
  position:absolute;
  top:137px;
  left:33px;
  width:320px;
  height:540px;
  background:url('../imgs/loader.gif') no-repeat center;
  pointer-events: none;
}
#form {
  float: left;
  width: 310px;
}

h2 {
  padding:25px 0 5px;
  margin:0;
}

h2:first-child {
  padding:5px 0 5px;
}

h4 {
  margin:0;
  padding:10px 0 5px;
}
.menu-container {
  float: left;
  width: 300px;
  padding: 3px;
  border-radius: 2px;

  a {
    font-size: 1.3rem;
  }
}

.menu .submenu {
  display:none;
}
.menu .active .submenu {
  display:block;
  list-style:none;
  margin:0;
  padding:0;
}

ul.menu, ul.submenu {
  list-style: none;
}
.menu .submenu > li > a {
  background: white;
  display:block;
  padding: 2px 6px 8px 28px;
  color: #4183c4;
  text-decoration:none;
  font-size: 0.9rem;
}
.menu .submenu > li > a.active {
  color:#b6121b;
  text-decoration: underline;
}
.manage {
  border-collapse:collapse;
  width:100%;
}

.tabbar {
  float:left;
  width:150px;
  a {
    display:block;
    padding:8px 30px;
    margin:6px 0;
    border-left: 2px solid #FFF;
  }
  a.active {
    font-weight:bold;
    border-left:2px solid #b6121b;
  }
}

.tab {
  float:left;
  width:1130px;
  margin-top:4px;
}

.potato.tabbar {
  margin-top:30px;
  float:none;
  width:auto;
  a {
    display:inline-block;
    padding:10px 30px;
    border: 1px solid #999;
    border-bottom:none;
    margin:0;
  }
  a.active {
    font-weight:bold;
    border:1px solid #b6121b;
    border-bottom:none;
  }
}

.potato.tab {
  float:none;
  width:auto;
  margin-top:-4px;
}

.manage, th, td {
  border-bottom:1px solid #DDD;
}

.manage th, .manage td {
  padding:10px;
  text-align:left;
}

.add { width:100%; padding:30px 10px; box-sizing:border-box; }
.add input[type='text'] { width:300px; margin-right:10px; }

.variables-container {
  float:left;
  width:425px;
  padding:3px;
  border-radius:2px;
  ul, li {
    list-style:none;
    margin:0;
    padding:0;
  }
}

.accordions {
  background:#EFEFEF;
}

.variables {
  background: #fafafa;
  border-radius:2px;
  border: 1px solid #d8d8d8;
  border-bottom:none;
  .variables-section {
    border-top: 1px solid white;
    > a {
      display:block;
      padding:5px;
      text-transform:uppercase;
      font-weight:bold;
      border-bottom: 1px solid #eee;
    }
  }
  .variables-options {
    display:none;
    background:#FFF;
    padding-left:20px;
    padding-bottom:10px;
    li {
      padding:5px 5px 10px 5px;
      label {
        width:130px;
        display:inline-block;
        text-align:right;
        padding-right:10px;
      }
      input[type='text'] {
        height:20px;
        padding:4px;
        width:200px;
      }
      select {
        width:222px;
      }
      .file {
        display:inline-block;
        vertical-align:top;
        .preview {
          margin:10px;
          text-align:left;
          img {
            max-width:200px;
          }
        }
      }
    }
  }
  .variables-section.active {
    border-bottom: 1px solid #eee;
    > a {
      background:#FFFFFF;
      border-left:2px solid #b6121b;
      border-bottom:none;
    }
    .variables-options {
      display:block;
    }
  }
  .variables-subsection {
    .variables-section {
      > a {
        margin-left:15px;
        font-weight:normal;
        background-color:#FCFCFC;
      }
    }
  }
}

body.live {
  margin:0;
  padding:0;
}


#live_preview {
  border:none;
  width:100%;
  height:100%;
}

.qrcode { background:white; }
.qrcode h3 { margin:0; padding:10px 10px 0; }
.qrcode img { display:block; margin:0 auto; }

.export { padding:10px 10px 6px 10px; }
.export a { text-decoration:none; color:#4183c4; }