section.variables {
  display: none;
  padding: 10px;
}

.section h2, .menu > li > a {
  padding: 10px;
  &::before {
    content: " + "
  }

  &.open {
    &::before {
      content: " - "
    }
  }
}

.text-field-color {
  label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
  }
}

.minicolors-theme-default {
  .minicolors-swatch {
    top: 7px !important;
    left: 2px !important ;
  }

  input {
    border: 1px solid lightgray;
    margin: 5px 0;
  }
}

.small-field {
  input {
    width: 35px;
    height: 20px;
    border: 1px solid lightgray;
  }

  label {
    width: 65px;
    display: inline-block;
    margin: 10px 0;
  }
}

button, button[type="submit"] {
  border: 0;
  padding: 10px;
  font-size: .8rem;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  margin-top: 10px;
}

.file-input {
  margin: 10px 0;
  label {
    font-size: 1rem;
  }
}

input[type="file"] {
  border: 0;
  padding: 5px;
}

#qrcode {
  padding-left: 50px;
}

.hide {
  display: none;
}